*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --colorLetrasgeneral :#0A4A6E ;
    --colorHover:#71AACA;
}
.contenedor_Reservas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow: hidden;
}
/* Nav */
.navegador{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 180px;
    width: 100%;
    flex-wrap: wrap;
    box-shadow: -1px 4px 7px -2px rgba(0,0,0,0.79);
    -webkit-box-shadow: -1px 4px 7px -2px rgba(0,0,0,0.79);
    -moz-box-shadow: -1px 4px 7px -2px rgba(0,0,0,0.79);
}
.logo_imagen{
    height: 180px;
    width: 90px;
   
}
.logo_imagen img {
    height: 170px;
    width: 180px;
}
.reservas_menus{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.reservas_menus ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 2px;
}
ul li {
    cursor: pointer;
    color: var(--colorLetrasgeneral);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    
    padding: 9px;
}
.reservas_menus >ul li:hover{
    border-radius: 12px;
    background-color: #71AACA;
    border: 1px solid #448DB6;
    color: white;
}
li.active{
    border: 1px solid #448DB6;
    border-radius: 12px;
    color: #448DB6;
}
.iniciar_sesion{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iniciar_sesion > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.iniciar_sesion > ul >li{
    font-size: 18px;
}
.iniciar_sesion > ul >i{
    font-size: 30px;
    cursor: pointer;
    color: #448DB6;
}
.iniciar_sesion > ul >li:hover {
    color: rgb(188, 188, 188);
}
/* Body */
.titulo{
    margin: 1.2em;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0A4A6E;
}
.cuerpo-envolvente{
    padding-top: 35px;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.Contenedor_de_main{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-servicios{
    width: 1300px;
    height: 300px;
    display: flex;
    gap: 100px;
}

.contenedores_servicios{
    width: 600px;
    height: 300px;
    background-color: #d5e5e6;
    display: flex;
    flex-direction: row;
}
.contenedor-left{
    width: 300px;
    height: 300px;
}
.contenedor-right{
    width: 300px;
    height: 300px;
}
.contenedor-left .img img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.contenedor-right section{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}
.contenedor-right section ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 8px;
    height: 100px;
    padding-left: 18px;
    color: #20313b;
}
.contenedor-right section ul li{
    width: 100%;
    padding-top: 45px;
}
.contenedor-right section ul li p{
    font-size: 14px;
}
.contenedor-right section button{
    width: 150px;
    height: 40px;
    margin-bottom: 25px;
    margin-left: 18px ;
    background-color: #477791 ;
    outline: none;
    border: none;
    cursor: pointer;
}
.contenedor-right section button:hover{
    background-color: white;
    color: #477791;
    border: 1px solid #477791;
}